/* FONT MIXIN
---------------------*/

@mixin font($size: false, $color: false, $transform: false,  $lh: false, $weight: normal, $style: false) {
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $transform { text-transform: $transform; }
  @if $style {font-style: $style; }
  @if $lh { line-height: $lh; }
  @if $weight { font-weight: $weight; }
}
