<template>
  <v-snackbar
    v-model="toast.show"
    :multi-line="toastSettings.multiLine"
    :timeout="toastSettings.timeout"
    top
    right
    elevation="5"
    :color=toastSettings[toast.status].color
  >
    <v-icon
      small
      color="white"
    >
      {{ toastSettings[toast.status].icon }}
    </v-icon>
    {{ toastSettings[toast.status].text }}
  </v-snackbar>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Toast',

  data () {
    return {
      toastSettings: {
        timeout: 5000,
        multiline: true,
        successUpdate: {
          text: 'The changes are saved',
          color: '#0D7C1A',
          icon: 'mdi-checkbox-marked'
        },
        successCreate: {
          text: 'The new are was created',
          color: '#0D7C1A',
          icon: 'mdi-checkbox-marked'
        },
        successDelete: {
          text: 'The area was deleted',
          color: '#0D7C1A',
          icon: 'mdi-alert'
        },
        failed: {
          text: 'We could not process this',
          color: '#B90000',
          icon: 'mdi-alert'
        }
      }
    }
  },
  computed: {
    ...mapGetters('toast', { toast: 'getToast' })
  }
}
</script>
