$family-primary: 'Open Sans';

$color-primary: #326295;
$light-gray: #D5D5D5;
$light-gray-2: #707070;
$lighter-gray: #D7DFEA;
$black: #000000;

$shadow-default: 0px 3px 6px rgba(0, 0, 0, 0.22);

$border-default: 1px solid $light-gray;
