$toolbar-content-padding-y: 2rem;
$toolbar-content-padding-x: 2.5rem;

$data-table-regular-row-height: 3.75rem;
$data-table-regular-header-height: 3.75rem;

$text-field-prefix-max-height: 2.75rem;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 2.75rem;
$text-field-border-radius: 0;
$text-field-outlined-fieldset-top: -4px;

$btn-text-transform: 'none';

$data-table-regular-header-font-size: 1rem;
$select-dense-selections-margin: 5px 4px 3px 15px;
$select-selections-line-height: 1.375rem;

$snackbar-border-radius: 0;
