<template>
  <v-app>
    <v-main v-if="!isLoading" class="mt-sm-8">
      <v-container>
        <section class="mr-lg-6 ml-lg-6">
          <FunctionalAreasFormNavbar @updateArea="onUpdateArea" :formData="formData" />
          <FunctionalAreasForm :formData="formData"/>
        </section>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import FunctionalAreasFormNavbar from '@/components/FunctionalAreas/FunctionalAreasFormNavbar.vue'
import FunctionalAreasForm from '@/components/FunctionalAreas/FunctionalAreasForm.vue'
import { mapActions, mapGetters, mapMutations } from 'vuex'
import { FUNCTIONAL_AREAS_ROUTE } from '@/router'

export default {
  name: 'FunctionalAreaEdit',

  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.fetchData()
    })
  },

  data () {
    return {
      isLoading: false,
      search: '',
      id: null,
      formData: {},
      functionalAreasRoute: { name: FUNCTIONAL_AREAS_ROUTE }
    }
  },
  computed: {
    ...mapGetters('areas', { areas: 'getAreas' }),
    ...mapGetters('toast', { toast: 'getToast' }),

    changedData () {
      const { id, areas } = this
      return {
        id, areas
      }
    }
  },
  methods: {
    ...mapMutations('areas', ['saveAreas', 'updateArea']),
    ...mapMutations('toast', ['setToast']),
    ...mapActions('areas', ['fetchAreas']),

    async fetchData () {
      this.isLoading = true
      if (this.areas.length <= 0) {
        await this.fetchAreas()
      }
      this.isLoading = false
    },

    onUpdateArea (newArea) {
      this.updateArea(newArea)
      this.setToast({
        show: true,
        status: 'successUpdate'
      })
    }
  },
  components: {
    FunctionalAreasFormNavbar,
    FunctionalAreasForm
  },
  watch: {
    changedData: {
      deep: true,
      handler (obj) {
        if (obj.areas.length > 0) {
          const areaItem = obj.areas.find((item) => item.id === obj.id)
          if (!areaItem) {
            this.$router.push(this.functionalAreasRoute)
            this.setToast({
              show: true,
              status: 'failed'
            })
          } else {
            this.formData = {
              id: areaItem.id,
              ref: areaItem.ref,
              name: areaItem.name,
              type: areaItem.type,
              parent: areaItem.parent
            }
          }
        }
      }
    }
  },
  mounted () {
    this.id = Number(this.$route.params.id)
  }
}
</script>
