<template>
  <v-app>
    <v-main class="mt-sm-8">
      <v-container>
        <section class="mr-lg-6 ml-lg-6">
          <FunctionalAreasFormNavbar @saveNewArea="onSaveNewArea"/>
          <FunctionalAreasForm />
        </section>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import FunctionalAreasFormNavbar from '@/components/FunctionalAreas/FunctionalAreasFormNavbar.vue'
import FunctionalAreasForm from '@/components/FunctionalAreas/FunctionalAreasForm.vue'
import { mapMutations } from 'vuex'

export default {
  name: 'FunctionalAreasAddNew',

  data () {
    return {
      areas: [],
      isLoading: false,
      error: null,
      search: ''
    }
  },
  methods: {
    ...mapMutations('areas', ['createArea']),
    ...mapMutations('toast', ['setToast']),

    onSaveNewArea (newArea) {
      const newItem = { ...newArea, id: Math.floor(Math.random() * (100000 - 1)) + 1 }
      this.createArea(newItem)
      this.setToast({
        show: true,
        status: 'successCreate'
      })
    }
  },
  components: {
    FunctionalAreasFormNavbar,
    FunctionalAreasForm
  }
}
</script>
