<template>
  <v-app>
    <v-main class="mt-sm-8">
      <v-container>
        <section class="mr-lg-6 ml-lg-6">
          <FunctionalAreasListNavbar @search="onSearch"/>
          <FunctionalAreasList
            v-if="!isLoading"
            :areas="areas"
            @delete="onDelete"
            :search="search"
          />
        </section>
      </v-container>
      <Toast />
    </v-main>
  </v-app>
</template>

<script>
import FunctionalAreasList from '@/components/FunctionalAreas/FunctionalAreasList.vue'
import FunctionalAreasListNavbar from '@/components/FunctionalAreas/FunctionalAreasListNavbar.vue'
import Toast from '@/components/Toast/Toast.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'FunctionalAreas',

  beforeRouteEnter (to, from, next) {
    next((vm) => vm.fetchData())
  },
  beforeRouteLeave (to, from, next) {
    this.setToast({
      show: false,
      status: 'failed'
    })
    next()
  },
  data () {
    return {
      isLoading: false,
      error: null,
      search: ''
    }
  },
  computed: {
    ...mapGetters('areas', { areas: 'getAreas' }),
    ...mapGetters('toast', { toast: 'getToast' })
  },
  methods: {
    ...mapMutations('areas', ['saveAreas', 'deleteArea']),
    ...mapMutations('toast', ['setToast']),
    ...mapActions('areas', ['fetchAreas']),

    async fetchData () {
      this.isLoading = true
      if (this.areas.length <= 0) {
        await this.fetchAreas()
      }
      this.isLoading = false
    },
    onDelete (index) {
      this.deleteArea(index)
      this.setToast({
        show: true,
        status: 'successDelete'
      })
    },
    onSearch (text) {
      this.search = text
    }
  },
  watch: {
    toast: {
      immediate: true,
      handler (val) {
        this.setToast(val)
      }
    }
  },
  components: {
    FunctionalAreasList,
    FunctionalAreasListNavbar,
    Toast
  }
}
</script>
