<template>
  <v-app>
    <v-main>
      <ServiceProviderNavbar @saveNewArea="onSaveNewArea"/>
      <ServiceProviderForm />
    </v-main>
  </v-app>
</template>

<script>
import ServiceProviderNavbar from '@/components/ServiceProvider/ServiceProviderNavbar.vue'
import ServiceProviderForm from '@/components/ServiceProvider/ServiceProviderForm.vue'
import { mapMutations } from 'vuex'

export default {
  name: 'ServiceProvider',

  data () {
    return {
      areas: [],
      isLoading: false,
      error: null,
      search: ''
    }
  },
  methods: {
    ...mapMutations('areas', ['createArea']),

    onSaveNewArea (newArea) {
      const newItem = { ...newArea, id: Math.floor(Math.random() * (100000 - 1)) + 1 }
      this.createArea(newItem)
      console.log(newArea)
    }
  },
  components: {
    ServiceProviderNavbar,
    ServiceProviderForm
  }
}
</script>
