<template>
  <v-container>
    <v-row class="text-center"  :justify="'center'">
      <v-col cols="10">
        <v-toolbar
          prominent
          class="d-flex align-center">
          <v-row>
            <v-col cols="8">
              <h1 class="text-left">{{ formData ? formData.name : navbarTitle }}</h1>
            </v-col>
            <v-col cols="4" class="d-flex justify-space-between">
              <router-link
                :to="functionalAreasRoute"
              >
                <a class="">
                  Cancel
                </a>
              </router-link>
              <v-btn
                large
                elevation="3"
                tile
                color="primary"
                @click="onSave"
              >
                Save
              </v-btn>
            </v-col>
          </v-row>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {
  FUNCTIONAL_AREAS_ROUTE
} from '@/router'
import { eventBus } from '@/main'

export default {
  name: 'FunctionalAreasNavbar',

  props: {
    formData: Object
  },
  data () {
    return {
      searchText: '',
      areaData: null,
      formFields: {},
      navbarTitle: 'Add new area',
      functionalAreasRoute: { name: FUNCTIONAL_AREAS_ROUTE }
    }
  },
  methods: {
    onSave () {
      this.formFields.validate().then((valid) => {
        if (valid) this.$router.push(this.functionalAreasRoute)
      })
      if (this.areaData && this.areaData.id) this.$emit('updateArea', this.areaData)
      if (this.areaData && !this.areaData.id) this.$emit('saveNewArea', this.areaData)
    },
    saveArea (area) {
      this.areaData = area
    },
    getForm (form) {
      this.formFields = form
    },
    getNameValue (value) {
      this.navbarTitle = value || 'Add new area'
    }
  },
  created () {
    eventBus.$on('saveArea', this.saveArea)
    eventBus.$on('getNameValue', this.getNameValue)
    eventBus.$on('form', this.getForm)
  },
  beforeDestroy () {
    eventBus.$off('saveArea', this.saveArea)
    eventBus.$off('getNameValue', this.getNameValue)
    eventBus.$off('form', this.getForm)
  }
}
</script>
