<template>
  <v-container>
    <v-row class="text-center"  :justify="'center'">
      <v-col cols="10">
        <v-card class="pa-10">
          <v-row>
            <v-col cols="8">
              <validation-observer
                ref="observer"
              >
                <form @submit.prevent="submit">
                  <validation-provider
                    v-slot="{ errors }"
                    name="name"
                    rules="required"
                  >
                    <v-text-field
                      @input="onChange"
                      @blur="onBlur"
                      placeholder="Name"
                      v-model="name"
                      :error-messages="errors"
                      label="Name"
                      required
                      outlined
                      dense
                      class="mb-6"
                    ></v-text-field>
                  </validation-provider>
                  <validation-provider
                    v-slot="{ errors }"
                    name="type"
                    rules="required"
                  >
                    <v-select
                      @blur="onBlur"
                      placeholder="Type"
                      v-model="type"
                      :items="types"
                      :error-messages="errors"
                      label="Type"
                      data-vv-name="select"
                      required
                      outlined
                      dense
                      class="mb-5"
                    ></v-select>
                  </validation-provider>
                  <validation-provider
                    v-slot="{ errors }"
                    name="ref"
                    rules="required|numeric"
                  >
                    <v-text-field
                      @blur="onBlur"
                      type="number"
                      placeholder="Reference number"
                      v-model="ref"
                      :error-messages="errors"
                      label="Reference number"
                      required
                      outlined
                      dense
                      class="mb-5"
                    ></v-text-field>
                  </validation-provider>
                  <validation-provider
                    v-slot="{ errors }"
                    name="parent"
                    rules="required"
                  >
                    <v-select
                      @blur="onBlur"
                      placeholder="Parent / child"
                      v-model="parent"
                      :items="parents"
                      :error-messages="errors"
                      label="Parent / child"
                      data-vv-name="select"
                      required
                      multiple
                      outlined
                      dense
                    ></v-select>
                  </validation-provider>
                </form>
              </validation-observer>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import { required, maxLength, numeric } from 'vuelidate/lib/validators'
import { eventBus } from '@/main'
import { required, numeric } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

setInteractionMode('eager')

extend('required', {
  ...required,
  message: '{_field_} can not be empty'
})

extend('numeric', {
  ...numeric,
  message: '{_field_} can contain only numbers'
})

export default {
  props: {
    formData: Object
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    name: '',
    ref: '',
    type: null,
    parent: '',
    id: '',
    editedFormData: {},
    types: [
      'Client group operations',
      'Event service provider',
      'Client group relations'
    ],
    parents: [
      'Select parent (if applicable) 1',
      'Select parent (if applicable) 2',
      'Select parent (if applicable) 3',
      'Select parent (if applicable) 4'
    ]
  }),
  methods: {
    submit () {
      this.$refs.observer.validate()
    },
    onChange (value) {
      eventBus.$emit('getNameValue', value)
    },
    onBlur () {
      eventBus.$emit('form', this.$refs.observer)

      const formData = {
        name: this.name,
        ref: this.ref,
        type: this.type,
        parent: this.parent,
        id: this.id
      }
      if (formData.name && formData.ref && formData.type && formData.parent) {
        this.$refs.observer.validate().then((valid) => {
          if (valid) {
            this.$emit('submit', formData)
            eventBus.$emit('saveArea', formData)
          }
        })
      }
    }
  },
  watch: {
    formData: {
      handler (data) {
        this.ref = data ? data.ref : ''
        this.name = data ? data.name : ''
        this.type = data ? data.type : ''
        this.parent = data ? data.parent : ''
        this.id = data ? data.id : ''
      }
    }
  },
  mounted () {
    eventBus.$emit('form', this.$refs.observer)
  }
}
</script>
