.theme--light {
  .v-btn--custom {
    box-shadow: $shadow-default;
    padding: 0 1.5rem;
    height: 2.75rem;
    font-size: 1rem;
  }

  .v-btn--transparent {
    @include font($size: rem, $color: $color-primary, $weight: 700);
    background-color: transparent;
    box-shadow:none;
    padding: 0 1.5rem;
    border-color: transparent;
    &:hover {
      background-color: rgba($color-primary, .26);
      box-shadow: $shadow-default !important;
    }
  }
}





