input::-webkit-input-placeholder{
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill:hover,{
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.v-form--custom {
  .v-text-field--outlined {
    &:not(.v-input--is-focused):not(.v-input--has-state) {
      fieldset {
        border-color: $light-gray;
      }
    }
    .v-input__slot {
      padding: 2px !important;

      input {
        padding: 0.3125rem 0.9375rem;
      }
      legend {
        width: 0 !important;
      }
      .v-label {
        top: -0.3rem;
        color: $light-gray-2;
        transform: translateY(-16px) scale(1);
      }
      .v-select__slot,
      .v-text-field__slot {
        &:hover {
          background-color: rgba($lighter-gray, 0.2);
        }
      }
    }
    .v-text-field__details {
      padding-left: 0;
    }
  }
}

.v-input-search {
  &.v-text-field--outlined {
    &:not(.v-input--is-focused):not(.v-input--has-state) {
      fieldset {
        border-color: $light-gray;
      }
    }
    .v-label {
      font-style: italic;
      height: 1.75rem;
      padding-top: 0.3rem;
      padding-left: 0.3125rem;
    }
    .v-icon {
      padding-top: 0.4rem;
    }
  }
}
