.theme--light {
  .v-data-table--custom {
    box-shadow: none;
    .v-data-table__wrapper {
      box-shadow: $shadow-default;
      border: $border-default;

      table {
        thead {
          th {
            .v-icon {
              left: 0.5rem;
            }
          }
        }
        tbody {
          tr {
            .v-icon {
              visibility:hidden;
            }
            &:hover {
              background-color: $lighter-gray;
              &:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
                background: $lighter-gray;
              }
              .v-icon {
                visibility:visible;
              }
            }
          }
        }
      }
    }
    .v-data-footer {
      font-size: 1rem;
        .v-select {
          margin-left: 1rem;
          &__selection--comma {
            @include font($size: 1rem, $color: $color-primary, $weight: bold);
          }
        }
      .v-input__slot{
        &:before {
          content: none;
        }
      }
      &__pagination {
        margin: 0 1rem 0 0;
      }
      &__icons-after,
      &__icons-before {
        .v-btn {
          margin: 0;
          .v-icon {
            @include font($size: 2rem, $color: $color-primary);
          }
        }
      }
    }
  }
}




