@import '~vuetify/src/styles/settings/_variables';

.v-toolbar--custom {
  &.v-toolbar.v-sheet {
    border: $border-default;
    box-shadow: $shadow-default;
    .v-toolbar__content {
      width: 100%;
      align-items: center;

      @media #{map-get($display-breakpoints, 'xs-only')} {
        padding: 1rem;
      }
    }
  }
}


