<template>
  <v-row class="text-center"  :justify="'center'">
    <v-col cols="12" sm="10" xl="7">
      <v-toolbar
        prominent
        class="v-toolbar--custom d-flex align-center">
        <v-row>
          <v-col cols="12" md="6" class="d-flex align-center">
            <h1 class="text-left toolbar-title">{{ text.functionalAreas }}</h1>
          </v-col>
          <v-col cols="12" md="6" class="d-flex justify-end">
            <v-text-field
              v-model="searchText"
              prepend-inner-icon="mdi-magnify"
              :label="text.labelSearch"
              single-line
              hide-details
              outlined
              dense
              @keyup="search"
              class="v-input-search"
            ></v-text-field>
            <router-link
              tag="button"
              :to="functionalAreaAddNewRoute"
              type="button"
              class="v-btn v-btn--custom v-btn--tile theme--light primary ml-4 ml-sm-10"
            >
              <span class="v-btn__content">
                {{ text.creatNew }}
              </span>
            </router-link>
          </v-col>
        </v-row>
      </v-toolbar>
    </v-col>
  </v-row>
</template>

<script>
import {
  FUNCTIONAL_AREAS_ADD_NEW_ROUTE
} from '@/router'

export default {
  name: 'FunctionalAreasListNavbar',

  data () {
    return {
      searchText: '',
      functionalAreaAddNewRoute: { name: FUNCTIONAL_AREAS_ADD_NEW_ROUTE },
      text: {
        creatNew: 'Create new',
        functionalAreas: 'Functional areas',
        labelSearch: 'Search for area'
      }
    }
  },
  methods: {
    search () {
      this.$emit('search', this.searchText)
    }
  }
}
</script>
