<template>
    <v-row class="text-center"  :justify="'center'">
      <v-col cols="12" sm="10" xl="7" class="pt-0">
        <v-card class="pa-4 pa-sm-10" outlined>
          <v-row>
            <v-col sm="12" md="8">
              <validation-observer
                ref="observer"
              >
                <form @submit.prevent="" class="v-form--custom">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Name"
                    rules="required"
                  >
                    <v-text-field
                      @input="onChange"
                      @blur="onBlur"
                      placeholder="Name"
                      v-model="editedFormData.name"
                      :error-messages="errors"
                      label="Name"
                      name="name"
                      required
                      outlined
                      dense
                      class="mb-6"
                    ></v-text-field>
                  </validation-provider>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Type"
                    rules="required"
                  >
                    <v-select
                      @blur="onBlur"
                      placeholder="Type"
                      v-model="editedFormData.type"
                      :items="types"
                      :error-messages="errors"
                      label="Type"
                      name="type"
                      data-vv-name="select"
                      required
                      outlined
                      dense
                      class="mb-5"
                    ></v-select>
                  </validation-provider>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Reference number"
                    :rules="`required|min_value:1|numeric|max:5|is_not: ${currentRefNumber}`"
                  >
                    <v-text-field
                      @blur="onBlur"
                      @keypress="isNumber($event)"
                      min="1"
                      type="number"
                      placeholder="Reference number"
                      v-model="editedFormData.ref"
                      :error-messages="errors"
                      label="Reference number"
                      name="ref"
                      required
                      outlined
                      dense
                      length="10"
                      class="mb-5"
                    ></v-text-field>
                  </validation-provider>
                  <validation-provider
                    v-slot="{ errors }"
                    name="Parent / child"
                  >
                    <v-select
                      @blur="onBlur"
                      placeholder="Select parent (if applicable)"
                      v-model="editedFormData.parent"
                      :items="parents"
                      :error-messages="errors"
                      label="Parent / child"
                      name="parent"
                      data-vv-name="select"
                      multiple
                      outlined
                      dense
                    ></v-select>
                  </validation-provider>
                </form>
              </validation-observer>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
</template>

<script>
/* eslint-disable camelcase */
import { eventBus } from '@/main'
import { required, numeric, min_value, max, is_not } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import store from '@/store/'

setInteractionMode('eager')

extend('required', {
  ...required, message: '{_field_} can not be empty'
})

extend('numeric', {
  ...numeric, message: '{_field_} can contain only numbers'
})

extend('min_value', {
  ...min_value, message: '{_field_} must be 1 or more'
})

extend('max', {
  ...max, message: '{_field_} may not be greater than 5 characters'
})

extend('is_not', {
  ...is_not,
  params: ['currentRefNumber'],
  validate: (value, { currentRefNumber }) => {
    const isRefExist = [...store.getters['areas/getAreas']].find(el => el.ref === Number(value) && el.ref !== Number(currentRefNumber))
    return !isRefExist
  },
  message: '{_field_} must be unique'
})

export default {
  props: {
    formData: Object
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      editedFormData: {},
      currentRefNumber: '',
      types: [
        'Client group operations',
        'Event service provider',
        'Client group relations'
      ],
      parents: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4'
      ]
    }
  },
  methods: {
    onChange (value) {
      eventBus.$emit('getNameValue', value)
    },
    onBlur () {
      eventBus.$emit('form', this.$refs.observer)
      eventBus.$emit('saveArea', this.editedFormData)
    },
    onBack (e) {
      if (e.key === 'Escape') this.$router.back()
    },
    isNumber (event) {
      if (!/\d/.test(event.key) && event.key !== '.') return event.preventDefault()
    }
  },
  watch: {
    formData: {
      immediate: true,
      deep: true,
      handler (data) {
        this.editedFormData = {
          ref: data ? data.ref : '',
          name: data ? data.name : '',
          type: data ? data.type : '',
          parent: data ? data.parent : '',
          id: data ? data.id : ''
        }
        this.currentRefNumber = this.formData ? this.formData.ref : ''
      }
    }
  },
  mounted () {
    eventBus.$emit('form', this.$refs.observer)
    document.addEventListener('keyup', this.onBack, false)
  },
  beforeDestroy () {
    document.removeEventListener('keyup', this.onBack)
  }
}
</script>
