<template>
  <v-row class="text-center" :justify="'center'">
    <v-col cols="12" sm="10" xl="7">
      <v-toolbar
        prominent
        class="v-toolbar--custom d-flex align-center">
        <v-row>
          <v-col cols="12" sm="7" md="8" class="d-flex align-center">
            <h1 class="text-left toolbar-title">{{ navbarTitle }}</h1>
          </v-col>
          <v-col cols="12" sm="5" md="4" class="d-flex align-center justify-end">
            <router-link
              tag="button"
              :to="functionalAreasRoute"
              type="button"
              class="v-btn v-btn--tile v-size--large v-btn--transparent pr-6 pl-6"
            >
              <span class="v-btn__content">
                {{ text.cancel }}
              </span>
            </router-link>
            <v-btn
              large
              class="v-btn--custom pr-6 pl-6 ml-10"
              tile
              color="primary"
              @click="onSave"
            >
              {{ text.save }}
            </v-btn>
          </v-col>
        </v-row>
      </v-toolbar>
    </v-col>
  </v-row>
</template>

<script>
import {
  FUNCTIONAL_AREAS_ROUTE
} from '@/router'
import { eventBus } from '@/main'

export default {
  name: 'FunctionalAreasFormNavbar',

  props: {
    formData: Object
  },
  data () {
    return {
      searchText: '',
      areaData: null,
      formFields: {},
      navbarTitle: null,
      functionalAreasRoute: { name: FUNCTIONAL_AREAS_ROUTE },
      text: {
        save: 'Save',
        cancel: 'Cancel'
      }
    }
  },
  methods: {
    onSave () {
      this.formFields.validate().then((valid) => {
        if (valid) {
          this.$router.push(this.functionalAreasRoute)
          if ((this.areaData && this.areaData.id) || !this.areaData) this.$emit('updateArea', this.areaData || this.formData)
          if (this.areaData && !this.areaData.id) this.$emit('saveNewArea', this.areaData)
        }
      })
    },
    saveArea (area) {
      this.areaData = area
    },
    getForm (form) {
      this.formFields = form
    },
    getNameValue (value) {
      this.navbarTitle = value
    }
  },
  watch: {
    navbarTitle: {
      immediate: true,
      handler (val) {
        if (!val) {
          this.navbarTitle = this.formData ? this.formData.name : 'Add new area'
        } else {
          this.navbarTitle = val
        }
      }
    }
  },
  created () {
    eventBus.$on('saveArea', this.saveArea)
    eventBus.$on('getNameValue', this.getNameValue)
    eventBus.$on('form', this.getForm)
  },
  beforeDestroy () {
    eventBus.$off('saveArea', this.saveArea)
    eventBus.$off('getNameValue', this.getNameValue)
    eventBus.$off('form', this.getForm)
  }
}
</script>
