<template>
  <v-row class="text-center"  :justify="'center'">
    <v-col class="pt-0" cols="12" sm="10" xl="7">
      <v-data-table
        class="v-data-table--custom"
        :headers="headers"
        :items="functionalAreas"
        :search="search"
        sort-by="name"
        @pagination="setPage($event)"
        :footer-props="{
          prevIcon: 'mdi-menu-left',
          nextIcon: 'mdi-menu-right',
          itemsPerPageText: 'Rows per page'
        }"
      >
        <template v-slot:header.ref="{ header }">
          <span class="text--secondary font-weight-medium"> {{ header.text }}</span>
        </template>
        <template v-slot:header.name="{ header }">
          <span class="text--secondary font-weight-medium"> {{ header.text }}</span>
        </template>
        <template v-slot:header.type="{ header }">
          <span class="text--secondary font-weight-medium"> {{ header.text }}</span>
        </template>
        <template v-slot:top>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card class="px-9 py-8">
              <v-card-title class="px-0 pb-8">{{ text.modal }}</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  large
                  outlined
                  class="v-btn--transparent pr-6 pl-6"
                  tile
                  @click="closeDelete"
                >
                  {{ text.cancel }}
                </v-btn>
                <v-btn
                  large
                  class="v-btn--custom pr-6 pl-6 ml-10"
                  tile
                  color="primary"
                  @click="deleteItemConfirm"
                >
                  {{ text.delete }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>
        <template v-slot:item.name="{ item }" >
            <router-link
              class="primary--text font-weight-bold"
              tag="button"
              :to="{ name: functionalAreasEditRoute, params: { id: item.id}}"
            >
         {{ item.name }}
          </router-link>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            medium
            @click="deleteItem(item)"
            color="red accent-4"
            class="mr-3"
          >
            mdi-delete-outline
          </v-icon>
          <router-link
            tag="button"
            :to="{ name: functionalAreasEditRoute, params: { id: item.id}}"
          >
            <img
              class="v-icon pt-1"
              src="@/assets/icons/pencil.svg" alt="">
          </router-link>
        </template>
        <template v-slot:footer.page-text="{pageStart, pageStop}">
          {{ `Page ${pageStart} from ${pageStop}` }}
        </template>
        <template v-slot:no-data>
          <p class="mb-0">{{text.noData}}</p>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import { cloneDeep } from 'lodash-es'
import {
  FUNCTIONAL_AREA_EDIT_ROUTE
} from '@/router'

export default {
  name: 'FunctionalAreas',
  props: {
    areas: Array,
    search: String
  },

  data: () => ({
    dialog: false,
    dialogDelete: false,
    functionalAreas: [],
    functionalAreasEditRoute: FUNCTIONAL_AREA_EDIT_ROUTE,
    headers: [
      { text: 'Ref nr', align: 'start', value: 'ref' },
      { text: 'Area name', value: 'name' },
      { text: 'Area type', value: 'type' },
      { text: '', value: 'actions', sortable: false }
    ],
    editedIndex: -1,
    text: {
      noData: 'Sorry, there is no data',
      delete: 'Delete',
      cancel: 'Cancel',
      modal: 'Are you sure you want to delete this item?'
    }
  }),
  methods: {
    deleteItem (item) {
      this.editedIndex = this.functionalAreas.indexOf(item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.$emit('delete', this.editedIndex)
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex = -1
      })
    },
    setPage (val) {
      val.pageStart = val.page - 1
      val.pageStop = val.pageCount
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
    areas: {
      immediate: true,
      deep: true,
      handler (newValue) {
        this.functionalAreas = cloneDeep(newValue)
      }
    }
  }
}
</script>
