<template>
  <v-container>
    <v-row class="text-center"  :justify="'center'">
      <v-col cols="10">
        <v-toolbar
          prominent
          class="d-flex align-center">
          <v-row>
            <v-col cols="6">
              <h1 class="text-left">Functional areas</h1>
            </v-col>
            <v-col cols="3">
              <v-text-field
                v-model="searchText"
                prepend-inner-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                outlined
                dense
                @keyup="search"
              ></v-text-field>
            </v-col>
            <v-col cols="3">
              <router-link
                tag="button"
                :to="serviceProviderRoute"
                type="button"
                class="v-btn v-btn--tile theme--light elevation-3 v-size--large primary"
              >
                <span class="v-btn__content">
                  Create new
                </span>
              </router-link>
            </v-col>
          </v-row>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {
  SERVICE_PROVIDER_ROUTE
} from '@/router'

export default {
  name: 'FunctionalAreasNavbar',

  data () {
    return {
      searchText: '',
      serviceProviderRoute: { name: SERVICE_PROVIDER_ROUTE }
    }
  },
  methods: {
    search () {
      this.$emit('search', this.searchText)
    }
  }
}
</script>
