* {
  font-family: $family-primary;

  &:focus {
    outline: none;
  }
}

.toolbar-title {
  @include font($size: 1.5rem, $weight: 400, $lh: 2rem);

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    @include font($size: 1.75rem, $weight: 400, $lh: 2.2rem);
  }
}
